# ENTER BOT TOKEN (Get your BOT_TOKEN by talking to @botfather)
BOT_TOKEN = "5216862722:AAE8jhl4gzoHJW7tGwwy2LRyPXl2w84pMgc"
GDRIVE_FOLDER_ID = "1L9GviQeNDJVI31AA45j20ltiMbP8JWYY"
OWNER_ID =1684007473
DOWNLOAD_DIR = "/home/slam/mirror-bot/downloads"
DOWNLOAD_STATUS_UPDATE_INTERVAL = 5
AUTO_DELETE_MESSAGE_DURATION = 20
IS_TEAM_DRIVE = ""
TELEGRAM_API = 16418156
TELEGRAM_HASH = "f8431c21d3b515cfd44d7284271d1307"
HEROKU_API_KEY = ""
HEROKU_APP_NAME = ""
# Optional config
AUTHORIZED_CHATS = ""
USE_SERVICE_ACCOUNTS = ""
INDEX_URL = ""
UPTOBOX_TOKEN = ""
MEGA_KEY = "dk0EHCLZ"
MEGA_USERNAME = "ivr.ivr237@gmail.com"
MEGA_PASSWORD = "Naykoivr123!"  
BLOCK_MEGA_LINKS = ""
STOP_DUPLICATE_MIRROR = "True"
SHORTENER = ""
SHORTENER_API = ""
IMAGE_URL = "https://telegra.ph/file/09cddb14c45b63bda2d47.png"
# Change ENABLE_FILESIZE_LIMIT = True if you want to use MAX_TORRENT_SIZE
ENABLE_FILESIZE_LIMIT = false
MAX_TORRENT_SIZE = 20
# Add more buttons (two buttons are already added of file link and index link, you can add extra buttons too, these are optional)
# If you don't know what are below entries, simply leave them, Don't fill anything in them.
BUTTON_THREE_NAME = ""
BUTTON_THREE_URL = ""
BUTTON_FOUR_NAME = ""
BUTTON_FOUR_URL = ""
BUTTON_FIVE_NAME = ""
BUTTON_FIVE_URL = ""
